.inputStyles {
    width: 120%;
    border: none;
    cursor: pointer;
}



.colorBgSave {
    background-color: #CD853F;
    filter:opacity(50%);
    transition: .5s;
}

.colorBgSave:hover {
    background-color: #CD853F;
    transition: .5s;
    filter: opacity(100%);
}

.colorTextSave {
    color: black;
}



.colorBgReset {
    background-color: black;
    filter:opacity(50%);
    transition: .5s;
}

.colorBgReset:hover {
    background-color: black;
    filter:opacity(100%);
    transition: .5s;
}

.colorTextReset {
    color: #CD853F;
}



.colorBgFindCliente {
    background-color: #CD853F;
}

.colorBgFindCliente:hover {    
    border: 2px solid black;
}

.colorTextFindCLient {
    color: black;
}

/* BOTAO DO SERVICE ORDER DE LISTA DE ABANDONO */

.colorBgAbandon {
    background-color: black;
    width: 50%;
}

.colorBgAbandon p {
    color: white;
    
}

.colorBgAbandon:hover {    
    border: 2px solid white;
}

.colorTextAbandon {
    color: black;
}

/* BOTOES DO POS DE SELECAO DE SERVICO */

.colorBgSell {
    background-color: black;
    transition: .5s;
    height: 7vw;
    width: 10vw;
    border-radius: 5px;
    opacity: 50%;
}

.colorBgSell:hover {
    background-color: #CD853F;
    border: 2px solid black;
    opacity: 1;
}

.colorBgSellFocus {
    background-color: #CD853F;
    border: 2px solid black;
    transition: .5s;
    height: 7vw;
    width: 10vw;
    border-radius: 5px;
}

.colorTextSell {
    color: white;
    font-size: 20px;
}

.colorTextSell:hover {
    color: black;
}

.colorTextSellFocus {
    color: black;
    font-size: 20px;
}

/* BOTOES DO POS DE GERENCIAMENTO DO CAIXA */

.colorBgSellManager {
    background-color: #CD853F;
    transition: .5s;
    height: 3.5vw;
    width: 10vw;
    border-radius: 5px;
}

.colorBgSellManager:hover {
    background-color: black;
    border: 2px solid #CD853F;
}

.colorTextSellManager {
    color: black;
    font-size: 15px;
}

.colorTextSellManager:hover {
    color: #CD853F;
}

/* BOTOES POS DE FECHAMNNTO DE VENDA */

.colorBgSellDeal {
    background-color: black;
    transition: .5s;
    border-radius: 5px;
}

.colorBgSellDeal:hover {
    background-color: green;
    transition: .5s;
    color: white;
}

.colorTextSellDeal   {
    color: #CD853F;
}

/* BOTOES POS DE RESET DE VENDA */

.colorBgSellFinishReset {
    background-color: black;
    transition: .5s;
    border-radius: 5px;
}

.colorBgSellFinishReset:hover {
    background-color: red;
    transition: .5s;
    color: white;
}

.colorTextSellFinishReset {
    color: #CD853F;
}


/* BOTOES DE POS DE SELEÇÃO DE FORMA DE PAGAMENTO*/

.colorBgReset {
    background-color: black;
    filter:opacity(50%);
    transition: .5s;
    border-radius: 5px;
}

.colorBgReset:hover {
    background-color: black;
    filter:opacity(100%);
    transition: .5s;
    border: 1px solid #CD853F;
}

.colorTextReset {
    color: #CD853F;
}

/* BOTOES DO POS DE DEVOLUCAO DE SERVICO */

.colorBgSellDevolution {
    background-color: black;
    transition: .5s;
    height: 7vw;
    width: 10vw;
    border-radius: 5px;
    opacity: 50%;
}


.colorBgSellDevolution:hover {
    background-color: red;
    border: 2px solid black;
    opacity: 1;
}

.colorBgSellDevolutionFocus {
    background-color: red;
    border: 2px solid black;
    transition: .5s;
    height: 7vw;
    width: 10vw;
    border-radius: 5px;
}

.colorTextSellDevolution {
    color: white;
    font-size: 20px;
}

/* BOTOES DE POS TIPOS DE PAGAMENTO */

.colorBgPayTypes {
    background-color: black;
    filter:opacity(50%);
    transition: .5s;
}

.colorBgPayTypes:hover {
    background-color: black;
    filter:opacity(100%);
    transition: .5s;
}

.colorBgPayTypesFocus {
    background-color: black;
    transition: .5s;
}

.colorTextPayTypes {
    color: #CD853F;
}

/* BOTAO DO HOME ABRIR */

.colorBgOpen {
    background-color: #CD853F;
    transition: .5s;
    width: 80%;
    height: 10vh;
    border-radius: 5px;
    font-size: 20px;
}

.colorBgOpen:hover {
    background-color: black;
    color: white;
    transition: .5s;
}

.colorTextOpen {
    color: black;
}
