.containerHome {
    display: flex;
    width: 125%;
    height: 39.7vw;    
}

.divFormStyles {
    padding: 0 2vw;
    width: 100%;
}

.divH2Styles {
    text-align: center;
    margin-left: 14%;
}

.buttonStyles {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 20%;
}

.buttonFindClient {
    display: flex;
} 

.buttonFindClient button{
    margin-left: 140%;
    /* width: 120%;    */
}

.buttonDiv {
    padding-right: 10%;
    z-index: 5;
}

.buttonStyles button {
    height: 180%;
    border-radius: 5px;
}

.buttonStyles p {
    font-size: 20px;
    margin: 0; 
    font-weight: 400;
}

.inputDate {
    display: flex;
    justify-content:space-between;
    margin-left: -2%;
}

.divDateStyles {
    width: 100%;
}

.textAreaCor div label {
    margin-left: 2vw;
}

.hideReceiptDiv {
    display: none;
}

.buttonBackStyles {
    position: absolute;
    right: 60.5%;
    top: 13.6%;
}

.buttonBackStyles button {
    border-radius: 5px;
}
